<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="edu.nf.ch11.entity"/>
    </typeAliases>

    <plugins>
        <!-- 配置分页的拦截器 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 指定数据源 -->
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>


    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <!--<mapper class="edu.nf.ch10.dao.UserDao"/>-->
        <!-- 使用了@ResultMapper注解，指定mapper映射配置文件-->
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>